@charset "UTF-8";

*{ margin:0; padding:0;}

body{ font:100% normal Andale Mono, monospace; background:#161712;}

form,input,select,textarea{margin:0; padding:0; color:#ffffff;}


div.box {
    margin:0 auto;
    width:1000px;
    background:#222222;
    position:relative;
    top:50px;
    border:1px solid #262626;
}

div.box h1 {
    color:#ffffff;
    font-size:50px;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712;
}

div.box h2{
	 color:#ffffff;
    font-size:30spx;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712;
}

div.box label {
    width:100%;
    display: block;
    background:#ffffff;
    border-top:1px solid #262626;
    border-bottom:1px solid #161712;
    padding:10px 0 10px 0;
}

div.box label span {
    display: block;
    color:#222222;
    font-size:20px;
    float:left;
    width:175px;
    text-align:right;
    padding:5px 20px 0 0;
}

div.box .input_text {
    padding:10px 10px;
    width:200px;
    background:#262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left:1px double #333333;
    border-right:1px double #333333;
}


div.box .button{
    margin:0 0 10px 0;
    padding:4px 7px;
    background:#6A5ACD;
    border:0px;
    position: relative;
    font-size:24px;
    top:10px;
    left:382px;
    width:100px;
    border-bottom: 1px double #660000;
    border-top: 1px double #660000;
    border-left:1px double #FF0033;
    border-right:1px double #FF0033;
}

